*{
    margin: 0%;
    padding: 0%;
}
header{
    align-items: center;

}
header div{
    align-items: center;
    background-color: black;
display: flex;
margin-top: 1rem;
}

header div img{
    height: 44px;
    border-radius: 2rem;

}

header div h1{color: aliceblue;

}

header div ul{
    display: flex;
    flex-direction: row;
}

header div ul li{
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
    
}

header div ul li a{
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

header div ul li a:hover{
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
    text-decoration: none;
    color: red;
    background-color: blue;
    font-size: 25px;
    border-radius: 2rem;
}

section div{
    display: flex;
    flex-direction: row;margin: 2rem;
}

section div p{
    display: flex;
    flex-direction: row;
    
}
section footer{
background-color: yellow;
padding: 3rem;
text-align: center;
color: black;
font-size: 30px;
}
section div img{
    border-radius: 1rem;
}

section img{
    border-radius: 2rem;
    margin-left: 2rem;
}
body{
    background-color: aqua;
}